.main-nav {
  display: flex;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
}
.content-box {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* flex-grow: 1; */
}
/* .content-box-two {
  order: -1;
} */
/* .content-box-one {
  order: -3;
}
.content-box-three {
  order: -2;
} */

#heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .containerOneAndThree {
  display: flex;
  justify-content: left;
}
.containerTwoAndFour {
  display: flex;
  justify-content: right;
} */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
